<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:3030/">codeFellowship </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:3030/">Home</a></li>
      <li><a href="http://localhost:3030/login">Log in</a></li>
      <li><a href="http://localhost:3030/signup">Sign Up</a></li>
      <li><a href="http://localhost:3030/profile" sec:authorize="isAuthenticated()" >Profile</a></li>
      <li><a href="http://localhost:3030/users" sec:authorize="isAuthenticated()">Users</a></li>
      <li><a href="http://localhost:3030/following" sec:authorize="isAuthenticated()">Following</a></li>
      <li><a href="http://localhost:3030/profile" sec:authorize="isAuthenticated()" sec:authentication="name"></a></li>

    </ul>
  </div>
</nav>

<h1>Log in </h1>
  <form th:action="@{/login}" method="post">

    <input type="text" name="username" />
    <br>
    <br>
    <input type="password" name="password" />
    <br>
    <br>
    <input type="submit" value="Log In" />
  </form>
</body>
</html>