<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3030/">codeFellowship </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:3030/">Home</a></li>
            <li><a href="http://localhost:3030/login">Log in</a></li>
            <li><a href="http://localhost:3030/signup">Sign Up</a></li>
            <li><a href="http://localhost:3030/profile" >Profile</a></li>
        </ul>
    </div>
</nav>

<h1 th:text="${appUser.getFirstName()} + ' ' + ${appUser.getLastName()}"></h1>
<h2 th:text="'date of birth ' + ${appUser.getDateOfBirth()}" ></h2>

<h2>Bio : </h2>
<p th:text="${appUser.getBio()}" ></p>

<form th:action="@{/newPost}" method="post" >
    <h1>Add new Post: </h1>
    <input type="text" name="body"  />
    <input type="submit" value="Add" />
</form>

<div th:each="post : ${posts}" >
    <h2>your post : </h2>
    <p th:text="${post.getBody()}"></p>
</div>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out" />
</form>

</body>
</html>