<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">codeFellowship </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup" >Sign Up</a></li>
            <li><a href="/profile" sec:authorize="isAuthenticated()">Profile</a></li>
            <li><a href="/profile" sec:authorize="isAuthenticated()" sec:authentication="name"></a></li>
            <li><a href="/logout" sec:authorize="isAuthenticated()" >Logout</a></li>

        </ul>
    </div>
</nav>


<div class="card">
    <div class="column_one">
        <div class="text">
            <h3> <span th:text="${appUser.getFirstName()} + ' ' + ${appUser.getLastName()}"></span></h3>
            <div class="line"></div>
            <h6 th:text="'date of birth: ' + ${appUser.getDateOfBirth()}" ></h6>
            <i class="fas fa-home fa-lg"></i>
            <i class="fas fa-envelope fa-lg"></i>
            <i class="fas fa-phone fa-lg"></i>
        </div>
        <div class="title" th:text="${appUser.getBio()}"></div>
    </div>
    <div class="column_two">
        <img th:src="${appUser.getProfilePic()}" />
    </div>
</div>


<div class="postsClass">
    <h1 style="margin-bottom: 15px">Old Posts: </h1>
    <div th:each="post : ${posts}" >
        <p th:text="${post.getBody()}"></p>
    </div>
</div>


</body>
</html>